doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Uptask | #{nombrePagina.toUpperCase()}

        link(href="/css/normalize.css" rel="stylesheet")
        link(href="/css/bootswatch-lux.css" rel="stylesheet")
        link(rel="stylesheet", href="/css/icofont.css")
        link(rel="stylesheet", href="/css/app.css")
    body

        .navbar.navbar-dark.bg-primary
            .container.d-flex.justify-content-between
                a.navbar-brand(href="/") Uptask Administrador de proyectos
                ul.navbar-nav 
                    li.nav-item
                        a.nav-link(href="#") Cerrar sesión 
        
        main.container 
            aside.contenedor__proyectos
                .row.mt-5 
                    .col-4 
                        .panel.panel--crear-proyecto 
                            a.btn.btn-primary.btn-block.btn-lg(href="/nuevo-proyecto") 
                                i.icofont.icofont-plus
                                |   Nuevo Proyecto
                        .panel.panel--lista-proyectos.mt-5
                            h3 Proyectos
                            .list-group
                                if proyectos
                                    each proyecto in proyectos
                                        a.list-group-item.list-group-item-action(href=`/proyectos/${proyecto.url}`)
                                            i.icofont.icofont-folder.icofont-1x  
                                            |   #{proyecto.nombre}
                    .col-8
                        block contenido
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")  
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
                           
