extends layout

include mixins/crearProyectos

block contenido 
    h1 #{nombrePagina}
    //- pre= vardump(proyecto)

    if errores
        each error in errores
            .alert.alert-dismissible.alert-danger
                strong ERROR!
                a.alert-link(href="#") &nbsp;#{error.tipo.toUpperCase()} 
                |   #{error.texto}.

    +crearProyecto(proyecto)
