extends layout

block contenido 
    h1 #{nombrePagina}

    if errores
        each error in errores
            .alert.alert-dismissible.alert-danger
                strong ERROR!
                a.alert-link(href="#") &nbsp;#{error.tipo.toUpperCase()} 
                |   #{error.texto}.

    .jumbotron
        form(action="/nuevo-proyecto" method="POST")
            .form-group 
                label
                    strong Nombre proyecto: 
                input.form-control(type="text" name="nombre" placeholder="Nombre del proyecto")
            .form-group 
                button.btn.btn-primary.btn-round(type="submit") Agregar 
