input[type="text"] {
    color: #55595c;
    background-color: #f7f7f9;
    border-color: #5a5a5a;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(26, 26, 26, 0.25);
    border-radius: 50px;
}

button.btn-round {
    border-radius: 50px;

}

.icofont-1x {
    font-size: 1.2rem;
}

.list-group-item + .list-group-item {
    border-top-width: 1px;
}

.icofont-check-circled.completo {
  color: var(--success);
}

/* sidebar */
.list-group .list-group-item a {
  color: var(--dark);
}
.list-group .list-group-item a:hover {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary);
}

.list-group .list-group-item a.active {
  font-weight: bold;
  color: var(--primary);
}
